body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/736x/85/30/a5/8530a53676858a6dc39a07abaf330ed0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    margin: 0;
}
header{
    background-color: rgb(50, 16, 142);
    color: aliceblue;
    padding: 15px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: aqua;
}
main {
    padding: 20px;
    text-align: center;
}
main h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin-top: 0;
}
main p {
    font-size:1.2em;
}
footer {
    background-color: rgb(50, 16, 142);
    color: aliceblue;
    text-align: center;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: snow;

}
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid rgb(255, 255, 255);
}
th {
    background-color: black;
    color: snow;
}
tr:hover {
    background-color: rgb(231, 223, 223);
}
.colaboraciones-link {
    padding: 8px 12px;
    background-color: rgb(61, 57, 57);
    color: snow;
    text-decoration: none;
    border-radius: 5px;
}
.colaboraciones-link {
    background-color: rgb(48, 48, 48);
}
.colaborar-img {
    width: 100px;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    border-radius: 10px;
    text-align: center; 
}

form {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid snow;
    border-radius: 4px;
}

input [type="submit"] {
    background-color: rgb(41, 179, 7);
    color: #ffffff;;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(43, 194, 194);
}

.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Separación entre las columnas */
}

.columna {
    flex: 1; /* Hacer que cada columna ocupe el mismo espacio */
}


iframe {
    width: 100%;
    height: 300px;
    border: 0;
}


.boton-flotante{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #ffffff;
    z-index: 100;
}
.boton-flotante img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}